{% extends 'front/base.html' %}
{% block header %}
    <style>
        .list-group .list-group li {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        .list-group .list-group li span {
            margin-left: 30px;
        }
    </style>
{% endblock %}
{% block main %}

    <div class="main-wrapper col-md-8">
        <div class="card mb-2">
            <div class="card-header">
                归档
            </div>
            <ul class="list-group list-group-flush">
                <!--
                  {'2020-06': [{'pid': '8wQ9pWAodK26ViyFrEaDqY', 'p_title': 'asf ', 'update_time': '06-01'}]}

                  -->
                {% for posts in posts_data %}
                    {% for key, value in posts.items %}
                        <li class="list-group-item hvr-underline-from-center">
                            <a class="d-flex justify-content-between align-items-center">
                                {{ key }}<span class="badge badge-primary badge-pill">{{ value|length }}</span>
                            </a>
                            <ul class="list-group list-group-flush" style="display: none;">
                                {% for item in value %}
                                    <li class="list-group-item hvr-underline-from-center">
                                        <a href="{% url "front:detail" pid=item.pid %}">{{ item.update_time }}<span>{{ item.ptitle }}</span></a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
{% block footer %}
    <script>
        $('.card>ul.list-group>li').click(function () {
            $(this).find('.list-group').toggle(500)
        })
    </script>
{% endblock %}